body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

header {
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
    /* grid-auto-rows: 70px; */
    background: #00af66;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.logo img {
    width: 100px;
    height: auto;
    float: left;
    background: #ffffff;
    padding: 1px;
}

.logo {
    background: rgb(255, 255, 255);
    height: 110px;
    width: 110px;
    float: left;
}


.content-hudul {
    /* padding: 17px; */
    float: left;
    width: auto;
    height: auto;
    /* background: #62C014; */
    color: #fff;
    padding-left: 10px;
    padding: 17px;
}

.content-hudul p,
h4,
h3 {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 70%;
    background: #f1f3f7;
    margin: 0 auto;
    padding-bottom: 20px;



}

.navbar {

    background: #f1f3f7;
    width: 60%;
    padding: 10px;
    margin: 2px;
    float: left;

}

.wrapper-header {
    width: 70%;
    background: gold;
    margin: 0 auto;
}

.btn-menu {
    margin: 0px;
    width: 40px;
    padding: 5 5px;
    color: #181818;
    background-color: #dbdbdb;
    font-size: 10pt;
    border-radius: 2px;
}

.btn-back {
    background-color: #fb6363;
    color: #fff;
    border: none;
    margin: 2px;
    padding: 3px 13px;
    font-size: 10pt;
}

.btn-back:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn-menu:hover {
    opacity: 0.8;
    /* background-color: #009c5b; */
}

.content-img img {
    width: 100%;
    height: auto;
}


.nav-tahapan {
    background-color: #f1f3f7;
    width: 100%;
    height: 30px;
    padding: auto;
    margin-top: 10px;
    display: inline-block;
}

.btn-tahapan {
    color: #181818;
    margin-top: 50px;
    font-size: 11pt;
    cursor: pointer;
}

.btn-tahapan-active {
    color: #cc1c1c;
    margin-top: 50px;
    font-size: 11pt;
}

.main {
    /* background-color: red; */
    width: 97%;
    margin: auto;
}

/* tabel */
#mytable {
    border-collapse: collapse;
    width: 100%;
    font-size: 10pt;
}

#mytable thead,
#mytable td,
#mytable th {
    border: 1px solid #ddd;
}

.wrapper .main #mytable th {
    color: #181818;
    background: #e5e5e5;
    text-align: center;
    padding: 5px;
}

.wrapper .main fieldset form #mytable tr:nth-child(even) {
    background-color: #fff;
}

.wrapper .main #mytable td {
    padding: 2px;
    text-align: center;

}

.wrapper .main #mytable tbody tr:nth-child(even) {
    background-color: #fff;
}

#mytable tr:hover {
    background-color: #ddd;
    /* opacity: 0.5;
    color: #181818; */
}


/* Form */
.keluar {
    background-color: red;
    width: 5%;
    margin-left: 315;
    text-align: center;
    padding: 2px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.btn-submit {
    background-color: #167ffc;
    color: #fff;
    border: none;
    margin: 2px;
    padding: 3px 13px;
}

.btn-submit:hover {
    opacity: 0.8;
    cursor: pointer;
}


.content {
    padding: 10px;
    width: 50%;
    margin: auto;
}

fieldset {
    width: 50%;
    margin: auto;
    position: relative;
    border: 1px solid #ddd;

}

.main-form {
    margin-bottom: 10px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
select {
    width: 100%;
    padding: 3px 3px;
    margin: 1px 0;
    border: 1px solid #ddd;
    font-size: 11pt;
}

.btn-reset {
    width: 5px;
    margin-top: 10px;
    background-color: #cc1c1c;
    padding-left: 16px;
}

/*  */
.nav-tahapan {
    background-color: #f1f3f7;
    width: 100%;
    height: 30px;
    padding: auto;
    margin-top: 10px;
    display: inline-block;
}

.main {
    /* background-color: red; */
    width: 97%;
    margin: auto;
}

/* tabel */
#mytable {
    border-collapse: collapse;
    width: 100%;
    font-size: 10pt;
}


#mytable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#mytable tr:hover {
    background-color: #e5e5e5;
    /* opacity: 0.5;
    color: #181818; */
}

#mytable th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #dbdbdb;
}

/* Form */


.content {
    /* background-color: greenyellow; */
    padding: 10px;
    width: 50%;
    margin: auto;
}

fieldset {
    width: 50%;
    margin: auto;
    position: relative;
    border: 1px solid #ddd;

}

/* Baru */
.main .judul {
    display: block;
    padding-top: 50px;
}

.wrapper .main .content-judul p {
    color: #181818;
    /* padding: 10px 0 0 0;
    margin: 5px 0 3px 0; */
    padding-top: 10px;
    margin-bottom: 0px;

}

.wrapper .main #mytable th {
    color: #181818;
    background: #e5e5e5;
    text-align: center;
    padding: 5px;


}

.btn-next {
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 20px;
    /* background-color: #167ffc; */
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #167ffc 100%);
    color: #fff;
}

.btn {
    flex: 1 1 auto;
    /* margin: 10px;
    padding: 30px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 25px #fff;
    border-radius: 10px;
}


.btn-next:hover {
    background-position: right center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 45, 248, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.content-text {
    margin: 50px;
}