body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

    background-color: #fff;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-1{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    width: 50%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}



.card-title {
    margin-bottom: .75rem;
}

.card-body {
    padding: 20px;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.form-group {
    margin-bottom: 1rem;

}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    display: block;
    width: 30%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.main-form {
    padding: 1rem;
    display: block;


}

.btn-submit {
    color: #fff;
    background-color: #03c755;
    border-color: #03c755;
    /* background-color: #007bff;
    border-color: #007bff; */
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* CSS W3 */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f1f3f7;
}


.blokir {
    color: #fff;
    /* color: #212529; */
    margin: 0px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: .25rem;
}

td a {
    margin: 0 5px;
}

tr th {
    padding: 10px;
}

.card-header p {
    font-weight: 400;
    font-size: 20pt;
    padding: 0px;
    margin: 0px;
}

.sidebar a {
    display: block;
    color: #f1f3f7;
    padding: 5px 20px;
    background-color: #03c755;
    text-decoration: none;
}
.judul-sidebar{
    background-color: #dfdfdf;
    height: 50px;
    font-size: 16pt;
    color: #2db34a;
    font-weight: 500;
    text-align: left;
}

.judul-sidebar p{
    width: 100%;
    margin: auto;
    color: rgb(83, 0, 0);
}

.sidebar a.active {
    background-color: #03c755;
    font-weight: bold;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color:    rgb(142, 194, 135);
    color: white;

}

div.container {
    margin-left: 200px;
    padding: 1px 8px;
    height: auto;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.container {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/* Tambahan CSS */

.wrapper {

    background-color: blue;
    width: 100%;

}